<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Criar cerveja</title>
</head>
<body>
    <h2>Adicionar Cerveja</h2>
    <form action="/brewer/adicionarcerveja" method="post">
        <input type="number" name="sku" placeholder="Adicionar o SKU">
        <input type="text" name="name" placeholder="nome da cerveja">
        <input type="text" name="email" placeholder="escreva o email">
        <input type="text" name="number" placeholder="digite o telefone">
        <button type="submit">Add contato</button>
    </form>
</body>
</html>